# Importação das Bibliotecas

In [36]:
import pandas as pd
import numpy as np

Lendo o conjunto de dados da URL, do site UCI centro de aprendizado de máquina e sistemas inteligentes.

DataSets do conjunto de dados de automóvel

In [37]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
df = pd.read_csv(url)

Vizualização das últimas 5 linhas

In [38]:
df.tail()

     3   ? alfa-romero     gas    std   two  ...  9.00  111  5000  21  27  13495
199 -1  95       volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
200 -1  95       volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
201 -1  95       volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
202 -1  95       volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
203 -1  95       volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[5 rows x 26 columns]

Inserindo o nome das colunas

In [39]:
name_columns = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors',
              'body-style','drive-wheels','engine-location','wheel-base','length', 'width', 'height',
              'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system',
              'bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']
df.columns = name_columns
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  16500
1          1                 ?  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2                 ?         audi  ...       19          25  15250

[5 rows x 26 columns]

Visualizando os tipos de Dados de cada coluna

In [40]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

Visualização de alguns dados Estatísticos do DataSet

In [41]:
df.describe()

        symboling  wheel-base  ...    city-mpg  highway-mpg
count  204.000000  204.000000  ...  204.000000   204.000000
mean     0.823529   98.806373  ...   25.240196    30.769608
std      1.239035    5.994144  ...    6.551513     6.898337
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.500000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]

Fornece um resumo completo de dados estatísticos 
<code>DataFrame.describe (include = 'all')</code>

In [42]:
df.describe(include='all')

         symboling normalized-losses    make  ...    city-mpg highway-mpg price
count   204.000000               204     204  ...  204.000000  204.000000   204
unique         NaN                52      22  ...         NaN         NaN   186
top            NaN                 ?  toyota  ...         NaN         NaN     ?
freq           NaN                40      32  ...         NaN         NaN     4
mean      0.823529               NaN     NaN  ...   25.240196   30.769608   NaN
std       1.239035               NaN     NaN  ...    6.551513    6.898337   NaN
min      -2.000000               NaN     NaN  ...   13.000000   16.000000   NaN
25%       0.000000               NaN     NaN  ...   19.000000   25.000000   NaN
50%       1.000000               NaN     NaN  ...   24.000000   30.000000   NaN
75%       2.000000               NaN     NaN  ...   30.000000   34.500000   NaN
max       3.000000               NaN     NaN  ...   49.000000   54.000000   NaN

[11 rows x 26 columns]

Verificando as informações gerais dos Dados

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

# Identificando e lidando com valores ausentes

Utilizando a biblioteca Numpy, para substituir os valores que estão representados por '?' modificando eles por Nan(Not a number), um valor que é o marcador de valores ausentes no padrão do Python, por razões de velocidade e conveniência computacional.

In [44]:
df.replace('?',np.nan,inplace=True)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  16500
1          1               NaN  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               NaN         audi  ...       19          25  15250

[5 rows x 26 columns]

Para detectar valores ausente, podemos utilizar dois padrões:

<code>
df.isnull()
</br>
</code>
<code>df.notnull()</code>

In [45]:
df.isnull()

     symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0        False               True  False  ...     False        False  False
1        False               True  False  ...     False        False  False
2        False              False  False  ...     False        False  False
3        False              False  False  ...     False        False  False
4        False               True  False  ...     False        False  False
..         ...                ...    ...  ...       ...          ...    ...
199      False              False  False  ...     False        False  False
200      False              False  False  ...     False        False  False
201      False              False  False  ...     False        False  False
202      False              False  False  ...     False        False  False
203      False              False  False  ...     False        False  False

[204 rows x 26 columns]

Usando um for no Python, podemos descobrir rapidamente o número de valores ausentes em cada coluna. Como mencionado acima, "Verdadeiro" representa um valor ausente, "Falso" significa que o valor está presente no conjunto de dados. No corpo do loop for, o método ".value_counts ()" conta o número de valores "True".

In [46]:
ausentes = df.isnull()
for  coluna in ausentes.columns.values.tolist():
  print(coluna)
  print(ausentes[coluna].value_counts(),"\n")

symboling
False    204
Name: symboling, dtype: int64

normalized-losses
False    164
True      40
Name: normalized-losses, dtype: int64

make
False    204
Name: make, dtype: int64

fuel-type
False    204
Name: fuel-type, dtype: int64

aspiration
False    204
Name: aspiration, dtype: int64

num-of-doors
False    202
True       2
Name: num-of-doors, dtype: int64

body-style
False    204
Name: body-style, dtype: int64

drive-wheels
False    204
Name: drive-wheels, dtype: int64

engine-location
False    204
Name: engine-location, dtype: int64

wheel-base
False    204
Name: wheel-base, dtype: int64

length
False    204
Name: length, dtype: int64

width
False    204
Name: width, dtype: int64

height
False    204
Name: height, dtype: int64

curb-weight
False    204
Name: curb-weight, dtype: int64

engine-type
False    204
Name: engine-type, dtype: int64

num-of-cylinders
False    204
Name: num-of-cylinders, dtype: int64

engine-size
False    204
Name: engine-size, dtype: int64

fuel-system
False    204
Name: fuel-system, dtype: int64

bore
False    200
True       4
Name: bore, dtype: int64

stroke
False    200
True       4
Name: stroke, dtype: int64

compression-ratio
False    204
Name: compression-ratio, dtype: int64

horsepower
False    202
True       2
Name: horsepower, dtype: int64

peak-rpm
False    202
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    204
Name: city-mpg, dtype: int64

highway-mpg
False    204
Name: highway-mpg, dtype: int64

price
False    200
True       4
Name: price, dtype: int64

## Lidando com valores ausentes

Como lidar com valores ausentes?
1. descatar;
2. substituir.

Colunas inteiras devem ser descartadas apenas se a maioria das entradas na coluna estiverem vazias.
Em nosso conjunto de dados, nenhuma das colunas está vazia o suficiente para sair completamente. Temos alguma liberdade para escolher qual método substituir os dados; no entanto, alguns métodos podem parecer mais razoáveis ​​que outros. Aplicaremos  métodos em algumas colunas diferentes:

1. Substitua por média:

* "normalized-losses": 41 dados ausentes
* "stroke": 4 dados ausentes
* "bore": 4 dados ausentes
* "horsepower": 2 missing data, replace them with mean
* "peak-rpm": 2 dados ausentes

2. Substitua pela frequência:

* "num-of-doors": 2 dados ausentes, substitua-os por "quatro"
  * Razão: 84% dos sedãs são de quatro portas. Como as quatro portas são mais frequentes, é mais provável que ocorra.

3. Apagar a linha inteira:

* "price": 4 dados ausentes, basta excluir a linha inteira
    * Razão: preço é o que queremos prever. Qualquer entrada de dados sem dados de preços não pode ser usada para previsão.

Calcular a média das colunas do tópico 1, transformando as mesmas em float, pois no DataFrame está como object, para posteriormente calcular a média:

In [47]:
med_normalized_losses = df['normalized-losses'].astype('float').mean(axis=0)
med_stroke = df['stroke'].astype('float').mean(axis=0)
med_bore = df['bore'].astype('float').mean(axis=0)
med_horsepower= df['horsepower'].astype('float').mean(axis=0)
med_peak_rpm = df['peak-rpm'].astype('float').mean(axis=0)

Substituindo "NaN" pelo valor médio em todas as colunas:

In [48]:
df['normalized-losses'].replace(np.nan,med_normalized_losses,inplace=True)
df['stroke'].replace(np.nan,med_stroke,inplace=True)
df['bore'].replace(np.nan,med_bore,inplace=True)
df['horsepower'].replace(np.nan,med_horsepower,inplace=True)
df['peak-rpm'].replace(np.nan,med_peak_rpm,inplace=True)

Podemos ver a quantidade de portas que possuem o tipo mais comum.  Podemos usar o método **.idxmax ()** ou **.value_counts()** para calcular automaticamente para nós o tipo mais comum:

In [49]:
df['num-of-doors'].value_counts()

four    114
two      88
Name: num-of-doors, dtype: int64

In [50]:
df['num-of-doors'].value_counts().idxmax()

'four'

Substituindo "NaN" pelo valor que mais se Repete;

In [51]:
df['num-of-doors'].replace(np.nan,'four',inplace=True)

Finalizando, vamos remover as linhas que não possuem preços

In [52]:
df.dropna(subset=['price'],axis=0,inplace=True)

Redefinindo os índices, após a remoção

In [53]:
df.reset_index(drop=True,inplace=True)

In [54]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  16500
1          1               122  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               122         audi  ...       19          25  15250

[5 rows x 26 columns]

# Formatando os dados

Etapa crucial é alterar os formatos dos dados, para isso vamos utilizar o método <code>.dtype()</code> para verificar qual são os tipos dos dados e para alterarmos utilizamos o metódo <code>.astype()</code>.

In [55]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

Como podemos ver acima, algumas colunas não são do tipo de dados correto. Variáveis ​​numéricas devem ter o tipo 'float' ou 'int', e variáveis ​​com cadeias de caracteres como categorias devem ter o tipo 'objeto'. Por exemplo, variáveis ​​'bore' e 'stroke' são valores numéricos que descrevem os motores; portanto, devemos esperar que sejam do tipo 'float' ou 'int'; no entanto, eles são mostrados como o tipo 'objeto'. 

Convertendo alguns dados para seus tipos apropriados

In [56]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")

df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")

df[["price"]] = df[["price"]].astype("float")

df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

df["horsepower"]=df["horsepower"].astype(int, copy=True)

Finalmente obtemos o conjunto de dados limpo sem valores ausentes e todos os dados em seu formato apropriado.

# Padronização dos Dados

Os dados  são coletados em diferentes lugares com diferentes formatos.

*  que é padronização?

  Padronização é o processo de transformar dados em um formato comum que permite ao pesquisador fazer uma comparação significativa.

* Exemplo:

  **Transforme mpg em L / 100km:**

  Em nosso conjunto de dados, as colunas de consumo de combustível "city-mpg" e "highway-mpg" são representadas pela unidade de mpg (milhas por galão). Suponha que estamos desenvolvendo uma aplicação em um país que aceita o consumo de combustível com o padrão L / 100km

  Precisamos aplicar a transformação de dados para transformar mpg em L / 100km?

**A fórmula para a conversão de unidades é**

L / 100km = 235 / mpg

In [57]:
df['city-L/100km'] = 235/df["city-mpg"]
df.head()

   symboling  normalized-losses  ...    price city-L/100km
0          3                122  ...  16500.0    11.190476
1          1                122  ...  16500.0    12.368421
2          2                164  ...  13950.0     9.791667
3          2                164  ...  17450.0    13.055556
4          2                122  ...  15250.0    12.368421

[5 rows x 27 columns]

Transformando mpg em L / 100km na coluna "highway-mpg" e alterando o nome da coluna para "highway-L / 100km".

In [58]:
df["highway-mpg"] = 235/df["highway-mpg"]
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

In [59]:
df.head()

   symboling  normalized-losses  ...    price city-L/100km
0          3                122  ...  16500.0    11.190476
1          1                122  ...  16500.0    12.368421
2          2                164  ...  13950.0     9.791667
3          2                164  ...  17450.0    13.055556
4          2                122  ...  15250.0    12.368421

[5 rows x 27 columns]

# Normalização de Dados

Normalização é o processo de transformar valores de várias variáveis ​​em um intervalo semelhante. As normalizações típicas incluem escalar a variável para que a média da variável seja 0, escalar a variável para que a variação seja 1 ou escalar variável para que os valores da variável variem de 0 a 1.

As três técnicas normalização mais utilizadas

Escalar Simples:

<h2> $ x_n = \frac {x_{value}} {x_{max}}$ </h2>

Min-Max:
<h2>$ x_n = \frac {x_{value}-x_{min}} {x_{max}-x_{min}}$</h2>

Escore Padrão:

<h2> $x_n = \frac {x_{value}-\mu} {\sigma}$ </h2>


$\mu$=  média **(.mean())**

$\sigma$ = Desvio Padrão **(.std())**

Para demonstrar a normalização, digamos que queremos dimensionar as colunas "length", "width" e "height"

Gostaria de Normalizar essas variáveis ​​para que seus valores variem de 0 a 1, utilizando a formúla Escala simples.

In [60]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

In [61]:
df[['length','width','height']].head()

     length     width    height
0  0.811148  0.890278  0.816054
1  0.822681  0.909722  0.876254
2  0.848630  0.919444  0.908027
3  0.848630  0.922222  0.908027
4  0.851994  0.920833  0.887960

# Binning

Por que binning?

Binning é um processo de transformar variáveis ​​numéricas contínuas em 'categorias' discretas, para análise agrupada.

Exemplo:

Em nosso conjunto de dados, "horsepower" é uma variável com valor real, variando de 48 a 288, e possui 57 valores únicos. E se nos importarmos apenas com a diferença de preço entre carros com alta potência, potência média e pouca potência (3 tipos)? Podemos reorganizá-los em três 'categorias' para simplificar a análise?

Usaremos a função numpy para obter o intervalo para poder categorizar :

 <code>np.linspace(start_value, end_value, numbers_generated)</code>.

* Como queremos incluir o valor mínimo de potência, queremos definir start_value = min (df ["horsepower"]).

* Como queremos incluir o valor máximo de potência, queremos definir end_value = max (df ["horsepower"]).

* Como estamos construindo 3 posições de igual comprimento, deve haver 4 divisores, então numbers_generated = 4.

In [62]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

Os grupos são 'Low', 'Medium' e 'High'

In [63]:
nome_grupos= ['Low', 'Medium', 'High']

Aplicamos a função "cut" para determinar a que cada valor de "df ['horsepower']" pertence. Segmenta e classificar os valores dos dados em compartimentos.

In [64]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=nome_grupos, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

    horsepower horsepower-binned
0          111               Low
1          154            Medium
2          102               Low
3          115               Low
4          110               Low
5          110               Low
6          110               Low
7          140            Medium
8          101               Low
9          101               Low
10         121            Medium
11         121            Medium
12         121            Medium
13         182            Medium
14         182            Medium
15         182            Medium
16          48               Low
17          70               Low
18          70               Low
19          68               Low

In [65]:
df['horsepower-binned'].value_counts()

Low       152
Medium     43
High        5
Name: horsepower-binned, dtype: int64

# Variável de indicador

O que é uma variável indicadora?

Uma variável indicadora (ou variável dummy) é uma variável numérica usada para rotular categorias. Eles são chamados de 'manequins' porque os próprios números não têm significado inerente.

Por que usamos variáveis ​​indicadoras?

Portanto, podemos usar variáveis ​​categóricas para análise de regressão nos módulos posteriores.

Exemplo:

Vemos que a coluna "tipo de combustível" tem dois valores únicos, "gás" ou "diesel". Regressão não entende palavras, apenas números. Para usar esse atributo na análise de regressão, convertemos "tipo de combustível" em variáveis ​​indicadoras. Igual o exemplo abaixo:

 Tipo de combustível | Gás  | Diesel  |
 :--:                | :--: |   :--:  |
Gás                  | 1    | 0       |
Diesel               | 0    | 1       |
Gás                  | 1    | 0       |

Usaremos o método do panda 'get_dummies' para atribuir valores numéricos a diferentes categorias de tipo de combustível.

In [66]:
dummy_variable = pd.get_dummies(df["fuel-type"])
dummy_variable.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

Agora temos o valor 0 para representar "gás" e 1 para representar "diesel" na coluna "tipo de combustível". Agora vamos inserir esta coluna novamente em nosso conjunto de dados original.

In [67]:
df = pd.concat([df, dummy_variable], axis=1)
df.drop("fuel-type", axis = 1, inplace=True)

Criando uma variável indicadora para a coluna "aspiration": "std" para 0, enquanto "turbo" para 1.

In [68]:
dummy_variable_2 = pd.get_dummies(df['aspiration'])
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)
dummy_variable_2.head()

   aspiration-std  aspiration-turbo
0               1                 0
1               1                 0
2               1                 0
3               1                 0
4               1                 0

Mesclar o novo quadro de dados ao quadro de dados original e soltar a coluna 'aspiration'

In [69]:
df = pd.concat([df, dummy_variable_2], axis=1)
df.drop('aspiration', axis = 1, inplace=True)

In [70]:
df.head(20)

    symboling  normalized-losses  ... aspiration-std aspiration-turbo
0           3                122  ...              1                0
1           1                122  ...              1                0
2           2                164  ...              1                0
3           2                164  ...              1                0
4           2                122  ...              1                0
5           1                158  ...              1                0
6           1                122  ...              1                0
7           1                158  ...              0                1
8           2                192  ...              1                0
9           0                192  ...              1                0
10          0                188  ...              1                0
11          0                188  ...              1                0
12          1                122  ...              1                0
13          0                122  ...              1                0
14          0                122  ...              1                0
15          0                122  ...              1                0
16          2                121  ...              1                0
17          1                 98  ...              1                0
18          0                 81  ...              1                0
19          1                118  ...              1                0

[20 rows x 30 columns]